data/*
.vscode/*
learning/__pycache__/*
learning/cls/*
learning/cls_siamese/*
learning/embeddings/*
__pycache__/*
**/*.pth
visualize_loop_closure/temp_pc_file.txt
bin
cmake-build-debug
Debug
build
data
lib
*.kdev4
.kdev4
.settings
.idea
.project
.cproject
pointnet.pytorch
bags
